body {
    background-color: snow;
}


.darkTheme {
    background-color: black;
    color: rgb(8, 210, 255);
}


.pCard {
    margin: 80px;
    border: solid 5px;
    border-radius: 20px;
    border-color:darkblue;
    width:auto;
    height:auto;
    padding: 50px;
    box-shadow: 0 50px 30px 0 hwb(198 2% 0% / 0.923);
    float: left;
    text-align: center;
    transition: 0.6s;
}

.pokeImg {
    height:200px;
    width:200px;
}


.pCard:hover {
    background-color: white;
    box-shadow: 0 10px 80px 0 rgba(170, 1, 1, 0.886)
}

#darkMode {
    border: solid 1px;
    background-color: black;
    color: violet;
    border-radius: 30px;
    float: right;
    border-color: violet;
    transition: 0.6s;
}

#darkMode:hover {
    background-color: white;
    box-shadow: 0 50px 30px 0 hwb(298 2% 0% / 0.923);
    width: auto;
    height: auto;
}