body {
    background-color: snow;

}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

#pokeball {
    animation: fade 1s ease-in 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
    position: absolute;
    height: 1000px;
    width: 1000px;
    top: 1860px;
    left: 185px;
    z-index: -1;
}


#myTitle {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size:larger;
    border: solid 3px;
    background-color: rgb(9, 6, 171);
    color: white;
    border-radius: 30px;
    border-color: rgb(32, 217, 246);
    transition: 0.6s;
    box-shadow: 3px 1px 6px 4px hwb(187 2% 0% / 0.923);
}

#myTitle:hover {
    background-color: white;
    box-shadow: 0 50px 30px 0 hwb(187 2% 0% / 0.923);
}

.darkTheme {
    background-color: black;
    color: rgb(8, 210, 255);
}

.btn {
    transition-duration: 0.4s;
    background-color: white;
    color: red;
    border: 2px solid blue;
    /* padding: 16px 32px; */
    /* display: inline-block; */
    /* margin: 4px 2px; */
    /* cursor: pointer; */
    border-radius: 6px;    
}

.btn:hover {
    background-color: blue;
    color:white;
    transform: translate(0px, -3px);
    box-shadow: 0 18px 0px 0 hwb(238 2% 25% / 0.923);

}


.pCard {
    animation: fade 1s ease-in 0.2s;
    animation-fill-mode: forwards;
    opacity: 0;
    margin: 80px;
    border: solid 5px;
    border-radius: 20px;
    border-color:darkblue;
    width:14%;
    height:14%;
    padding: 50px;
    box-shadow: 0 50px 30px 0 hwb(198 2% 0% / 0.923);
    float: left;
    text-align: center;
    transition: 0.3s;
}

.type1 {
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}


.pokeImg {
    height:180px;
    width:180px;
}


.pCard:hover {
    transform: translate(10px, -10px);
    background-color: white;
    box-shadow: 10px 10px 80px 20px rgba(170, 1, 1, 0.886)
}

#darkMode {
    padding-left: 10px;
    padding-right: 10px;
    font-size:larger;
    border: solid 1px;
    background-color: black;
    color: violet;
    border-radius: 30px;
    float: right;
    border-color: violet;
    transition: 0.6s;
    box-shadow: 3px 1px 6px 4px hwb(298 2% 0% / 0.923);

}

#darkMode:hover {
    transform: translate(10px, -10px);
    background-color: white;
    box-shadow: 0 50px 30px 0 hwb(298 2% 0% / 0.923);
}



